#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
}

#App .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: red;
}
